<div>
    <a href="{$link->getModuleLink('trainings', 'myTrainings')}">
      <svg id="_x31__x2C_5" enable-background="new 0 0 24 24"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
		<path d="m18.25 10.5h-12.5c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h12.5c.414 0 .75.336.75.75s-.336.75-.75.75z"/>
		<path d="m12 4c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.5c-.275 0-.5.224-.5.5s.225.5.5.5.5-.224.5-.5-.225-.5-.5-.5z"/>
		<path d="m15.25 8c-.414 0-.75-.336-.75-.75s-.337-.75-.75-.75h-3.5c-.413 0-.75.336-.75.75s-.336.75-.75.75-.75-.336-.75-.75c0-1.241 1.01-2.25 2.25-2.25h3.5c1.24 0 2.25 1.009 2.25 2.25 0 .414-.336.75-.75.75z"/>
		<circle cx="20" cy="18.5" r="1.5"/>
		<path d="m22.25 24c-.414 0-.75-.336-.75-.75s-.337-.75-.75-.75h-1.5c-.413 0-.75.336-.75.75s-.336.75-.75.75-.75-.336-.75-.75c0-1.241 1.01-2.25 2.25-2.25h1.5c1.24 0 2.25 1.009 2.25 2.25 0 .414-.336.75-.75.75z"/>
		<circle cx="12" cy="18.5" r="1.5"/>
		<path d="m14.25 24c-.414 0-.75-.336-.75-.75s-.337-.75-.75-.75h-1.5c-.413 0-.75.336-.75.75s-.336.75-.75.75-.75-.336-.75-.75c0-1.241 1.01-2.25 2.25-2.25h1.5c1.24 0 2.25 1.009 2.25 2.25 0 .414-.336.75-.75.75z"/>
		<circle cx="4" cy="18.5" r="1.5"/>
		<path d="m6.25 24c-.414 0-.75-.336-.75-.75s-.337-.75-.75-.75h-1.5c-.413 0-.75.336-.75.75s-.336.75-.75.75-.75-.336-.75-.75c0-1.241 1.01-2.25 2.25-2.25h1.5c1.24 0 2.25 1.009 2.25 2.25 0 .414-.336.75-.75.75z"/>
		<path d="m15.751 16c-.034 0-.068-.002-.103-.007-.41-.056-.697-.434-.642-.845l.75-5.5c.057-.411.438-.703.845-.642.41.056.697.434.642.845l-.75 5.5c-.052.377-.373.649-.742.649z"/>
		<path d="m8.249 16c-.369 0-.69-.272-.742-.648l-.75-5.5c-.056-.411.231-.789.641-.845.404-.06.788.23.845.642l.75 5.5c.056.411-.231.789-.642.845-.034.004-.068.006-.102.006z"/></svg>
        <span>Moje szkolenia</span>
    </a>
</div>